[run]
source = vimhdl
branch = True
parallel = True
omit = ./python/vimhdl/_version.py

[report]
show_missing = True

# # Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
#     def __str__

    except ImportError:
    if __name__ == '__main__':
    @abc.abstractproperty 
    @abc.abstractmethod

# vim:ft=cfg:
