argcomplete
codecov
colorama
coverage
coveralls
futures
git+https://github.com/suoto/rainbow_logging_handler
greenlet
logutils
mock
msgpack-python
neovim
nose2
nose2-cov
prettytable
rainbow-logging-handler
requests>=v2.20.0
six
testfixtures
trollius
