argcomplete==1.5.1
codecov
colorama==0.3.7
coverage==4.1
coveralls
futures==3.0.5
greenlet==0.4.10
logutils==0.3.3
msgpack-python==0.4.8
neovim==0.1.10
nose2
nose2-cov
prettytable==0.7.2
rainbow-logging-handler==2.2.2
six==1.10.0
testfixtures
trollius==2.1
