argcomplete
codecov
colorama
coverage
coveralls
futures
greenlet
hdl-checker
logutils
mock
msgpack-python
neovim
nose2
nose2-cov
prettytable
rainbow_logging_handler
requests==v2.20.0
six
testfixtures
trollius
urllib3==1.24.2
